:root {
    --primary-color: white;
    --secondary-color: #ddd;
    --border-color: #eee;
    --text-color: gray;
    --font: "Roboto", sans-serif;
}

* {
    font-family: var(--font);
    box-sizing: border-box;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px var(--secondary-color);
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    
}

header span {
    font-size: 1.2rem;
    color: var(--text-color);
}

/* Hamburger */

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* Nav Menu */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    margin: 5px;
    text-decoration: none;
    color: var(--text-color);
    border-bottom: solid 1px #ddd;

}

.navigation a:hover{
    background-color: var(--border-color);
    border-radius: 10px;
}

/*.navigation li.current {
    background-color: #eee;
    border-radius: 5px;
}*/

/* Main Section*/
main {
    text-align: center;
}

main h1 {
    color: var(--text-color);
    padding: 5px;
    margin: 0;
}

.sections{
    display: flex;
    flex-flow: column;
    column-gap: 5px;
}

.sections div h2 {
    color: var(--primary-color);
    margin: 0px;
    font-size: 22px;
}

section .main-txt {
    background-color: var(--secondary-color);
    text-align: center;
}

section {
  border: 1px solid var(--border-color); 
  margin: 10px 0px;
}

section p {
    margin: 8px;
    color: var(--text-color);
}

section .img-div {
    display: flex;
    justify-content: center;
}

section img {
    width: 130px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

main .web-card h2 {
    color: var(--primary-color);
    margin: 0px;
    font-size: 22px;
}

main .web-card .courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

main .web-card .courses button {
    color: var(--text-color);
    background-color: var(--border-color);
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

main .web-card .courses button:hover{
    background-color: var(--secondary-color);
}

main .web-card .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

main .web-card div .card{
    color: var(--text-color);
    background-color: var(--border-color);
    border: solid 1px var(--secondary-color);
    border-radius: 10px;
}



/* Footer */

footer {
   background-color: var(--border-color);
   padding: 1rem 10px;
   text-align: center;
   border-radius: 10px;
}

footer p {
    color: var(--text-color);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: auto;
}

.social a:hover {
    background-color: var(--secondary-color);
    border-radius: 10%;
}